@import url('https://fonts.googleapis.com/css?family=Permanent+Marker:100,200,300,400,500,600,700|Indie+Flower:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    font-family: "Roboto", sans-serif;
    margin: auto;
    height: 100%
}

.row {
    margin: 0px;
}

p {
    padding: 0px 20px;
}


/* header*/

.logo-container {
    height: 100%;
    background: url('../images/logo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/* Navbar */

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.82);
    border: 0;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

@media (max-width: 767px){
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: white;
}
}

.menu-cascade {
    background-color: rgba(0, 0, 0, 0.82);
}

.menu-cascade>li>a {
    color: #777;
}



/*................................................Jumbotron */

.jumbotron {
    background: rgba(0, 0, 0, .72);
    color: white;
    border: 3px;
}

.jumbotron h1 {
    font-family: "Permanent Marker", sans-serif;
    font-weight: 100;
    font-size: 46px;
    text-shadow: -1px 0 #0c4605, 0 1px #0c4605, 1px 0 #0c4605, 0 -1px #0c4605;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: white;
}

@media (max-width:768px) {
    .jumbotron h1 {
        font-family: "Permanent Marker", sans-serif;
        font-weight: 100;
        font-size: 36px;
        text-shadow: -1px 0 #0c4605, 0 1px #0c4605, 1px 0 #0c4605, 0 -1px #0c4605;
        text-transform: uppercase;
        margin-bottom: 30px;
        color: white;
    }
}



.jumbotron .lead {
    color: #ccc9c9;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.callout-row {
    margin-top: 70px;
}

@media(min-width:992px) {
    .callout-row {
        max-width: 75%;
        margin-top: 70px;

    }
}


/*.............Social Buttons*/

.social-navbar:after {
    float: left;
}

.social-links {
    padding: 10px;
    align-items: center;
    margin: 0;
    float: right;
}

@media(max-width:768px) {
    .social-links {
        padding: 10px;
        align-items: center;
        margin: 0;
        float: left;
    }
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

.social-links::after {
    float: left;
}


.footer-social-links {
    padding: 5px;
    align-items: center;
    margin: 0;
    text-align: center;
}

.footer-social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.footer-social-links li a i:hover {
    background: #e84610;
}



/*................................Special Paddings/Margins/Text*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.container {
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.raw-section {
    margin-left: 15px;
    margin-right: 15px;
}

.row-nav {
    margin: 0;
}

.row-table {
    display: table;
}

.history-heading,
.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 50px;
}

.container-fluid-contact {
    padding: 0;
}

.page-header {
    padding-bottom: 25px;
    border: none;
    margin-bottom: 10px;
    margin-top: 15px;
}

.text-centered {
    text-align: center;
}

.euro-symbol {
    span {
        content: "\20AC";
    }
}

.basicpackage-text:hover {
    text-decoration: none;
}

.goldpackage-text:hover {
    text-decoration: none;
}

.diamondpackage-text:hover {
    text-decoration: none;
}

.dispatch-container-fluid {
    margin-bottom: 20px;
}

/*................................Footer*/

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

#footer-details {
    margin: 20px;
}

.footer-container-fluid {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.footer-text {
    display: inherit;
}

.footer-brand {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #dadad3;
    font-size: 36px;
}

.footer-brand:hover {
    color: white;
    text-decoration: none;
}

.footer-brand a {
    font-weight: bold;
    display: block;

}

.footer-brand>.active>a,
.footer-brand>.active>a:focus,
.footer-brand>.active>a:hover {
    color: white;
    background: transparent;
}

/* .................................................Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

/* Containers */

.container-wrapper--red {
    background-color: #f05f40;
    color: white;
}


/* Quotes */

.img-circle {
    border-radius: 50%;
}

.media {
    padding-bottom: 10px;
}

.media-body {
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
    font-size: 16px;

}

.quotes {
    margin-bottom: 25px;
}

blockquote.quote {
    border-left: 0;
}



/*.....................................................Contact Form*/

.contact-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 80%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;

}

.form-control {
    margin-bottom: 5px;
}

/*.....................................................Left Aside Bar*/

.contact-items-body {
    padding-top: 25px;
    padding: 5px;
}

@media(max-width:500px) {
    .contact-phone-square,
    .contact-email-square {
        min-width: 100%;
        margin-bottom: 10px;
    }
}

.contact-elements {
    text-align: center;
}


.contact-phone-square,
.contact-email-square {
    max-width: 48%;
    background-color: #525252;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 5px;
    margin: 3px;
    color: white;
}


.contact-phone-square:hover {
    background-color: #525252;
    color: white;
}

.contact-email-square:hover {
    background-color: #525252;
    color: white;
}

.contact-element-icon {
    text-transform: uppercase;
    color: #dadad3;
    font-size: 36px;
}

.contact-element-icon:hover {
    color: white;
}

.contact-element-icon a {
    font-weight: bold;
}

.contact-element-icon>.active>a,
.contact-element-icon>.active>a:focus,
.contact-element-icon>.active>a:hover {
    color: white;
    background: transparent;
}


.contact-body-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 40px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}

.contact-form-input {
    margin-bottom: 5px;
}


/*.....................................................Services and Prices Section*/

.table-services {
    margin-left: auto;
    margin-right: auto;
}

.padding-services {
    padding: 30px;
}

.padding-services-top {
    padding: 30px;
}

@media(max-width:992px) {
    .padding-services-top {
        padding: 0px 30px 30px 30px;
    }
}

.title-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-size {
    margin-top: 20px;
}

.h4-services {
    margin: 15px 15px 15px 0px;
}

.panel-default>.panel-heading {
    background-color: transparent;

}

.panel-heading-active {
    background: #f5f5f5;
}

.panel-heading-active {
    background: #f5f5f5;
}


.panel-heading-success {
    background: #dff0d8;
}


.panel-heading-info {
    background: #d9edf7;
}

.fa-icon-sell {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 24px;
}

.panel-heading-text {
    font-size: 18px;
}

.bottom-package {
    border-bottom-width: 20px;
    margin-bottom: 20px;

}

.p-services {
    margin: 0px;
    padding: 0px;
}


/*.....................................................Gallery*/

.gallery {
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 15px;
}

@media(max-width:992px) {
    .gallery {
        padding: 0px;
    }
}

.img-c {
    width: 100%;
    height: 300px;
    float: left;
    position: relative;
    overflow: hidden;
    margin: 4px;
}


.img-w {
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform ease-in-out 300ms;
    margin: 4px;

}

.img-w img {
    display: none;
}

.img-c {
    transition: width ease 400ms, height ease 350ms, left cubic-bezier(0.4, 0, 0.2, 1) 420ms, top cubic-bezier(0.4, 0, 0.2, 1) 420ms;
}

.img-c:hover .img-w {
    transform: scale(1.08);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-c.active {
    width: 95% !important;
    height: 95% !important;
    position: fixed;
    z-index: 2;
}

@media(max-width:768px) {
    .img-c.active {
        display: none;
    }
}

@media(max-width:768px) {
    .img-c:hover .img-w:hover {
        transition: none !important;
    }
}

.img-c.postactive {
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

.img-c.active.positioned {
    left: 0 !important;
    top: 0 !important;
    transition-delay: 50ms;
}

@media (max-width: 1026px) {
    .gallery-hidden {
        display: none;
    }
}

.section-gallery {
    padding: 3px;
}

@media(max-width:992px) {
    .section-gallery {
        padding: 0px;
    }
}


@media(max-width:1200px) {
    .section-gallery-hidden {
        display: none;
    }
}

.text-gallery {
    text-align: center;
}

@media(max-width:768px) {
    .text-gallery {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 767px){
.text-gallery {
    padding-left: 0;
    padding-right: 0;
}
}

/*..........................................................Home Page*/

.personal-image {
    width: 100%;
    height: auto;
}

@media(max-width:768px){
    .personal-image{
    max-height: 500px;
    object-fit: contain;
}
}

.bg-container-personal {
    background-color: grey;
    margin: 0;
    padding: 0;
}

.container-personal {
    padding-top: 15px;
    color: white;
    max-height: 400px;
}

.container-image-personal {
    margin: 0px;
    padding: 0px;
}


@media(min-width:768px) {
    .personal-info-text {
        transform: translateY(30px);
    }
}

@media(min-width:960px) {
    .personal-info-text {
        transform: translateY(60px);
    }
}

@media(min-width:1020px) {
    .personal-info-text {
        transform: translateY(120px);
    }
}

.text-personal {
    text-align: center;
    justify-content: center;
    padding: 25px;
}

.container-homepage {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.left-column-homepage {
    margin: 0px;
    padding: 0px;
    float: left;
}

.left-column-image {
    max-width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    border-radius: 15px;
}

.right-column-image {
    max-width: 100%;
    margin: 0;
    padding: 0;
    float: right;
    border-radius: 15px;
}

.section-header {
    margin-top: 15px;
    margin-bottom: 20px;
}

@media(max-width:768px) {
    .section-header {
        margin-bottom: 0px;
    }
}

.selection-text {
    text-align: justify;
    padding: 0px;
}

@media(min-width:768px) {
    .selection-text {
        text-align: center;
    }
}

.selection-text-body {
    padding: 15px;
    transform: translateY(30px);
}

@media(max-width:768px) {
    .selection-text-body {
        padding: 5px;
    }

}


@media(min-width:768px) {
    .selection-text-body {
        transform: translateY(30px);
    }
}

@media(min-width:1200px) {
    .selection-text-body {
        transform: translateY(50px);
    }
}

/*.........................................................Carousel*/

.bg-container-carousel {}

.carousel-control-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 8%;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.1;
}

.container-carousel {
    padding: 30px;
}

@media(min-width:992px) {
    .container-carousel {
        padding: 60px;
    }
}

.carousel-indicators {
    bottom: -20px;
    position: absolute;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;

}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #2098d1;
    border: 1px solid #fff;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #2098d1;
}

.carousel-header {
    margin-top: 25px;
}
